body {
  font-family: "Roboto", sans-serif;
  background-color: #f3f3f3;
}

.entrada {
  width: 100vw;
  height: 100%;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  
}
.entrada img {
  width: 135px;
  margin-top: 72px;
}

.container_login {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.entrada input {
  width: 260px; 
  height: 54px;
  border-radius: 4px;
  border: 1px solid #aeaeae;
  text-align: center;
  margin-top: 258px;
  margin-bottom: 15px;
  outline: transparent;
  font-size: 18px; 
  font-weight: 400;
}

input::placeholder {
  color: #AEAEAE;
}

.button {
  background-color: #e5e5e5;
  border-radius: 15px;
  width: 109px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 400;
  color: #696969;
}

.button:hover {
  cursor: pointer;
}

.principal {
  width: 100%;
  background-color: #f3f3f3;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
}

header {
  width: 100vw;
  height: 80px;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 2;
}

header ion-icon {
  font-size: 45px;
  margin-right: 22px;
}

header ion-icon:hover {
  cursor: pointer;
}

header img {
  width: 75px;
  margin-left: 22px;
}

footer {
  width: 100vw;
  height: 80px;
  margin-top: 80px;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 2;
}

footer ion-icon {
  font-size: 26px;
  margin-right: 22px;
}

footer ion-icon:hover {
  cursor: pointer;
}

textarea {
  border: none;
  outline: none;
  margin-left: 17px;
  height: 70px;
  width: 80vw;
  resize: none;
  margin-top: 20px;
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 400;
}

textarea::placeholder {
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 400;
  font-style: italic;
  color: #000000;
}

.messages_container {
  margin-top: 106px;
  margin-bottom: 86px;
  
}

.msg_time {
  color: #aaaaaa;
}

.status,
.msg_to_all,
.msg_private {
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 400;
  line-height: 16.41px;
  word-break: break-word;
  padding: 8px;
  margin-bottom: 3px;
  display: flex;
  align-items: center;
  
}

.status {
  background-color: #dcdcdc;
}

.msg_to_all {
  background-color: #ffffff;
}

.msg_private {
  background-color: #ffdede;
}

.participants {
  width: 70vw;
  max-width: 259px;
  height: 100%;
  margin-left: 118px;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
}

.hidden {
  display: none;
}

.escondido {
  display: none;
}

.top,
.visibility {
  height: 84px;
  font-size: 16px;
  font-weight: 700;
  line-height: 18.75px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.visibility {
  height: 60px;
}

.all,
.contact {
  height: 36px;
  margin-right: 27px;
  font-size: 16px;
  font-weight: 400;
  line-height: 18.75px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contact_list ion-icon {
  font-size: 25px;
  margin-left: 18px;
  margin-right: 8px;
}

.contact_info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.lock {
  margin-top: 10px;
  margin-right: 27px;
  font-size: 16px;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.lock ion-icon {
  font-size: 22px;
  margin-left: 18px;
  margin-right: 8px;
}